* {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	display: flex;
	flex: column;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
	background-color: #1f2937;
	color: #f9faf8;
	font-size: 24px;
}

.nav-links {
	display: flex;
	gap: 20px;
}

.nav-links a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

.hero {
	display: flex;
	justify-content: space-between;
	padding: 50px 50px;
	background-color: #1f2937;
}

.hero-text {
	width: 400px;
}

.hero-text h1 {
	font-size: 48px;
	margin: 0px;
	color: #f9faf8;
	font-weight: 800;
}

.hero-text p {
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	color: #e5e7eb;
}

.hero-text button {
	font-weight: 700;
	color: #e5e7eb;
	background-color: #3882f6;
	border-radius: 8px;
	padding: 6px 20px;
	border-color: #3882f6;
	cursor: pointer;
}

.hero-img img {
	width: 400px;
	height: 220px;
}

.information {
	text-align: center;
	padding: 10px 50px 50px 50px;
}

.information h2 {
	font-size: 36px;
	font-weight: 800;
	color: #1f2937;
	margin-bottom: 30px;
}

.image-boxes {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.image-boxes img {
	height: 150px;
	width: 150px;
	border-radius: 20px;
	border-color: #3882f6;
	border-style: solid;
}

.image-boxes p {
	margin-top: 5px;
	width: 150px;
}

.quote {
	background-color: #e5e7eb;
	padding: 50px 120px;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	color: #1f2937;
}

#author {
	text-align: right;
	font-weight: 700;
}

.call-to-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 100px;
	padding: 30px 80px;
	background-color: #3882f6;
	border-radius: 10px;
}

.call-to-action h3 {
	font-weight: 700;
}
.call-to-action h3,
.call-to-action p {
	margin: 0;
	color: #e5e7eb;
}

.cta-btn {
	align-self: flex-end;
}

.cta-btn button {
	padding: 6px 20px;
	font-weight: 700;
	color: #e5e7eb;
	background-color: #3882f6;
	border-radius: 8px;
	border-style: solid;
	cursor: pointer;
}
